{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}


<form method="POST" class="reg_form" enctype="multipart/form-data">
    <p class="profile_text" >Change your profile</p>

    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
        <div class="registration">
            <label>{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}
    <button type="submit" class="reg_button">Patvirtinti</button>
</form>
{% endblock %}